CSS STRUCTURE:
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
  }

.navbar ul{
	padding-left: 15px;
}

.navbar{}

	.navbar a{
		color:grey;
		text-decoration:none;
	}

	.pricing{
		color:black;
	}

.navbar li{
	display: inline;
	padding-right: 25px;
}

.header {
	background-image:url("assets/background.jpg");
	/*width: 1280px;*/
	position: relative;
	margin-bottom: 40px;
	background-size: cover;
	height: 416px;
}

	.head-1{
		position: absolute;
		top: 175px;
		left: 525px;
		color:white;
		font-size: 40px;
		text-shadow: 1px 1px 2px black;
	}

	.head-2{
		position: absolute;
		top: 225px;
		left: 480px;
		color:white;
		font-size: 40px;
		text-shadow: 1px 1px 2px black;
	}


	p{
		margin-top: 25px;
		margin-bottom: -22px;
	}

	.type{
		font-size:13px;
		color: white;

	}

	.money{
		font-size: 75px;
		color: white;
	}

	.month{
		color:lightgrey;
		font-size: 15px;
	}

	.options{
		margin:auto;
	}

		.five-dollar{
			width:250px;
			text-align: center;
			float: left;
			margin-left: 250px;
			margin-right:15px;


		}

		.options-five{
			background: #519251;
			height:170px;
			color: white;
		  border: solid #EDEDED 1px;

		}

			.under{
				background: #F7F7F7;
			}

			.under li{
				border: #EDEDED 1px solid;
				border-top:transparent;
				list-style-type: none;
				height: 30px;
				font-size: 14px;
				padding-top:15px;

			}

			 ul.under {
				padding-left: 0px;
				margin: 0px;
			}

			.choose{
	    background: white;
	    height: 70px;
	    margin: 15px auto;
	    border: #EDEDED 2px solid;
	    width: 70px;
	    height: 17px;
	    border-radius: 20px;
	    font-size: 14px;
	    font-weight: bold;
	    padding: 5px 5px;
			}


			.choose a{
				text-decoration: none;
				color:black;

			}

			.choose-border{
				border:1px #EDEDED solid;
				height: 65px;
				background:white;
				margin-bottom: 80px;

			}

			.twentyfive-dollar{
				width:250px;
				text-align: center;
				float: left;
				margin-right:15px;
				position: relative;

			}

			.options-twentyfive{
				height:170px;
				background: #2C4985;
				color: white;
				border: solid #EDEDED 1px;
			}

			.fortyfive-dollar{
				width:250px;
				text-align: center;
				float: left;
				margin-right: 250px;

			}

			.options-fortyfive{
				height:170px;
				background: black;
				color: white;
				border: solid #EDEDED 1px;
			}

			.bottom{
				margin: 0 auto;
				line-height: 2;
			}

			.bottom div{
				/*margin-left:250px;*/
				margin-top: 0px;
				font-size: 13px;

			}

			.bottom p{
				font-size: 16px;
				margin-top: 0;

			}

			.get-started{
				width: 375px;
				height:200px;
				float:left;
				margin: auto;
				margin-left:260px;

			}

			.pay-monthly{
				width: 375px;
				height:200px;
				float:left;
				margin-left: 30px;


			}

			.customer-support{
				width: 375px;
				height:200px;
				float:left;
				margin-left:260px;

			}

			.cancel-your-plan{
				width: 375px;
				height:200px;
				float:left;
				margin-left: 30px;

			}

			.footer{
				clear:left;
				background: black;
				color: grey;
				padding-left: 400px;
				height: 40px;
				padding-top: 15px;
				padding-bottom: 5px;

			}

			.footer a{
				color: white;
			}
